HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# Java 및 Gradle 관련
*.log
*.class
.gradle/
target/
*.jar

# IDE 관련
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
.idea/
*.iws
*.iml
*.ipr
out/
*.sublime-workspace
*.sublime-project

# OS 관련
Thumbs.db
.DS_Store
ehthumbs.db

# NetBeans 관련
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code 관련
.vscode/
